* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

p{
    line-height: 1.5;
}

/*estilos efecto carga*/
.section_loader{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
}

.loader{
    background-color: red;
    position: relative;
    width: 60px;
    height: 60px;
    background-color: rgb(255, 255, 255);
}

.loader .loader_1{
    position: absolute;
    width: 100%;
    height:100%;
    border: 4px solid rgb(31, 112, 187);
    border-left-color: transparent ;
    border-bottom: none;
    border-radius: 50%;
    animation: loader_1 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}


.loader .loader_2{
    position: absolute;
    width: 40px;
    height: 40px;
    border: 4px solid rgb(78, 205, 255);
    border-top-color: transparent;
    border-right: none;
    border-radius: 50%;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    animation: loader_2 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

.show-loader{
    display: flex;
}

@keyframes loader_1{
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader_2{
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
/*Inicio | Barra de Navegacion*/
header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

.logo img {
    height: 90px;
}

header .navegacion {
    position: relative;
}

header .navegacion .navegacion_links a {
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    margin-left: 30px;
    transition: 0.2s ease;
    color: white;
    padding: 10px;
}

header .navegacion .navegacion_links a:hover {
    background-color: rgba(3, 96, 251, 0.3);
    border-radius: 10px;
    color: #a7ddffac;
    transform: scale(1.3);
}

/*Fin | Barra de navegacion*/
/*Inicio | Banner de la pagina*/
section {
    padding: 100px 200px;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: grey;
}

.home:before {
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(1, 1, 1, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .contenido {
    z-index: 888;
    margin-top: 50px;
    text-align: center;
}

.home .contenido h1 {
    background-position: center center;
    font-size: 4em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 95px;
    margin-bottom: 40px;
    color: white;
}

.home .contenido h1 span {
    font-size: 1.2em;
    font-weight: 400;
    color: white;
}

.home .contenido a {
    text-decoration: none;
    color: #067bc3;
    background-color: white;
    font-size: 1.5em;
    padding: 15px;
    border-radius: 15px;
    font-weight: 500;
    border: 2px solid #067bc3;
    transition: all 300ms ease;
}

.home .contenido a:hover {
    background-color: #067bc3;
    color: white;
}

.home video {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Fin | Banner de la pagina*/


/*Inicio responsive de la pagina*/
/*Inicio | Para dispositivos con un maximo de 1040px*/
@media (max-width: 1040px) {
    header {
        padding: 12px 20px;
    }

    section {
        padding: 100px 20px;
    }

    header .navegacion {
        display: none;
    }

    header .navegacion.active {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    header .navegacion .navegacion_links a {
        color: black;
        font-size: 1.2em;
        margin: 20px;
    }

    header .navegacion .navegacion_links a:hover {
        background-color: rgba(51, 219, 238, 0.607);
        color: white;
    }

    header .navegacion.active .navegacion_links {
        background: #fff;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }

    .home .contenido h1 {
        font-size: 3em;
    }

    .menu_btn {
        background: url(/img/menu.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3 ease;
    }

    .menu_btn.active {
        z-index: 999;
        background: url(/img/menu_x.png) no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
    }
}

/*Fin | responsive para dispositivoa con un maximo de 1040px*/

/*Inicio | responsibe para dispositivos con maximo de 720px*/
@media(max-width: 720px) {
    .home .contenido h1 {
        line-height: 70px;
        font-size: 2em;
        font-weight: 600;
    }
}

/*Fin | responsive para dispositivos con maximo de 720px*/

/*Fin del estilos responsive para el banner principal*/


/*Incio | Estilos de la seccion de que son los ODS*/
.Segmento2 {
    margin-top: 30px;
    margin-bottom: 70px;
    margin-left: 40px;
    margin-right: 40px;
}

.titulo_queSonLosODS {
    width: 600px;
    border-bottom: 3px solid #1c8aaa;
    justify-content: center;
    margin: auto;
}

.titulo_queSonLosODS h2 {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.contenedor_queSonODS {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.img_queSon img {
    width: 40em;
    border-radius: 20px;
}

.texto_queSon p {
    margin-top: 100px;
    margin-left: 20px;
    text-align: justify;
    line-height: 1.9;
}

/*Fin | Estilos de la seccion de que son los ODS*/

/*Incio | Responsive de la seccion que son los ODS*/

/*Inicio | Responsive para dispositivos con maximo de 1040px*/
@media(max-width: 1040px) {
    .contenedor_queSonODS {
        display: block;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .texto_queSon p {
        margin-top: 20px;
        text-align: center;
    }

    .img_queSon img {
        width: 35em;
    }

}
/*Fin | Responsive para dispositivos con maximo de 1040px*/

/*Inicio | Responsive para dispostivos con un maximo de 720px*/
@media(max-width: 720px) {
    .img_queSon img {
        width: 20em;
    }

    .texto_queSon p {
        margin-top: 20px;
        text-align: center;
    }

    .titulo_queSonLosODS {
        width: 300px;
        border-bottom: 3px solid #1c8aaa;
        justify-content: center;
        margin: auto;
    }
}
/*Fin | Responsive para dispostivos con un maximo de 720px*/

/*Inicio | Responsive para dispostivos con un maximo de 400px*/
@media(max-width:400px) {
    .img_queSon img {
        width: 16em;
    }

    .titulo_queSonLosODS {
        width: 240px;
        border-bottom: 3px solid #1c8aaa;
        justify-content: center;
        margin: auto;
    }
}
/*Fin | Responsive para dispostivos con un maximo de 400px*/

/*Fin | Responsive de la seccion que son los ODS*/


.titulo {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}


.tittulo-17-ODS {
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}

/* Estilizando el teexto de los ODS 01-04*/
/* ODS 01*/
.texto01 {
    margin-top: -4px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #E13232;
    border-radius: 0px 0px 15px 15px;
}

/* ODS 02*/
.texto02 {
    margin-top: -4px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #D59F34;
    border-radius: 0px 0px 15px 15px;
}

/* ODS 03*/
.texto03 {
    margin-top: -4px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #4DA024;
    border-radius: 0px 0px 15px 15px;
}

/* ODS 04*/
.texto04 {
    margin-top: -4px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #CA1212;
    border-radius: 0px 0px 15px 15px;
}


/* Estilizando el texto de los ODS 05-08*/
/* ODS 05*/
.texto05 {
    margin-top: -4px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #FF4400;
    border-radius: 0px 0px 15px 15px;
}

/* ODS 06*/
.texto06 {
    margin-top: -4px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #2CAED9;
    border-radius: 0px 0px 15px 15px;
}

/* ODS 07*/
.texto07 {
    margin-top: -4px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #FCB430;
    border-radius: 0px 0px 15px 15px;
}

/* ODS 08*/
.texto08 {
    margin-top: -4px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #9E2143;
    border-radius: 0px 0px 15px 15px;
}

/* Estilizando el teexto de los ODS 09-12*/
/* ODS 09*/
.texto09 {
    margin-top: -4px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #FF6600;
    border-radius: 0px 0px 15px 15px;
}

/* ODS 10*/
.texto10 {
    margin-top: -4px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #DD146C;
    border-radius: 0px 0px 15px 15px;
}

/* ODS 10*/
.texto11 {
    margin-top: -4px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #FC9E1C;
    border-radius: 0px 0px 15px 15px;
}

/* ODS 10*/
.texto12 {
    margin-top: -4px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #C18D25;
    border-radius: 0px 0px 15px 15px;
}

/* Estilizando el teexto de los ODS 13-16*/
/* ODS 13*/
.texto13 {
    margin-top: -4px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #397F45;
    border-radius: 0px 0px 15px 15px;
}

/* ODS 14*/
.texto14 {
    margin-top: -4px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #007CC3;
    border-radius: 0px 0px 15px 15px;
}

/* ODS 15*/
.texto15 {
    margin-top: -4px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #4DC325;
    border-radius: 0px 0px 15px 15px;
}

/* ODS 16*/
.texto16 {
    margin-top: -4px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #0068A4;
    border-radius: 0px 0px 15px 15px;
}


/* ODS 17*/
.texto17 {
    margin-top: -4px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #194869;
    border-radius: 0px 0px 15px 15px;
}


/* Tarjetas*/
.tarjeta {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 20px;
    perspective: 1000px;
}

.frente,
.atras {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.5s;
}

.atras p{
    text-align: justify;
}

.frente {
    background-color: #fff;
    transform: rotateY(0deg);
    font-size: 11px;
    color: white;
    text-align: center;
}

.frente img{
    border-radius: 15px 15px 0px 0px;
}

.atras {
    background-color: #fff;
    transform: rotateY(180deg);
}

.tarjeta:hover .frente {
    transform: rotateY(180deg);
}

.tarjeta:hover .atras {
    transform: rotateY(0deg);
}


/*Estilizamos la seccion de ls historia de los ODS */
.Segmento4 {
    border-top: 1px solid;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.contenedor_historia {
    margin-top: 40px;
  display: flex;
  align-items: center;
}

.imagenes_histoia img {
    margin-top: 20px;
    width: 500px;
}
.texto-historia h2{
    text-align: center;
}

.texto-historia p {
    text-align: justify;
    margin-top: 25px;
    margin-left: 50px;
}

.segmento5 {
    border-top: 1px solid;
    margin-top: 30px;
    text-align: center;
}


.segmento5 h2 {
    margin-top: 20px;
    text-align: center;
}


/* Columna 4*2*/
.container01-17 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fila {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/*Carrusel*/
.slide_container{
    display: grid;
    place-items: center;
    position: relative;
    width: 800px;
    height: 500px;
    margin: auto;
}


.slide_container .slides{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.slide_container .slides.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}


.slide_container .slides img{ 
    z-index: 1;
    width: 100%;
    border-radius: 5px;
}

.slide_container .slides .text{
    position: absolute;
    top: 0;
    padding: 15px 30px;
} 

.slide_container .slides .text h3{
    margin-top: 60px;
    color: white;
    text-transform: uppercase;
    font-size: 30px;
}

.slide_container .slides .text p{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 15px;
}

.slide_container .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 40%;
    transform: translateY(-50%);
}

.slide_container .navigation .btn{
    background: rgba(255, 255, 255, 0.7);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 300ms ease;
}

.slide_container .navigation .btn.active{
    background: rgb(30, 122, 202);
}

.slide_container .navigation .btn:hover{
    background-color: aqua;
}



footer {
    background-color: #051923;
    padding: 50px;
    color: white;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.footer-row a {
    text-decoration: none;
    color: white;
}

.fooeter-info ul li a {
    display: block;
    transition: all 0.3s ease;
}

.fooeter-info li {
    list-style: none;
}

.fooeter-info ul li a:hover {
    color: grey;
    padding-left: 8px;

}

.fooeter-info h5 {
    margin-bottom: 10px;
}

.footer-contactos h5 {
    margin-bottom: 10px;
}

.social {
    display: inline-flex;
}

.social a {
    margin-right: 20px;
}


/*Estilos de explora tu ODS*/


/*Desafios*/

.Segmento3{
    text-align: center;
}

.containerDesafios {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.desafio {
    width: 30%;
    min-width: 250px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.desafio:hover {
    transform: translateY(-5px);
}

.desafio img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.desafio h2 {
    color: #26bde2;
}

.desafio ul {
    text-align: left;
    padding-left: 20px;
}

@media (max-width: 768px) {
    .desafio {
        width: 100%;
    }
}

/*Proyectos exitosos*/

.Segmento4E{
    text-align: center;
    background-color: #007EA7;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: -20px;
    color: white;
    font-size: 25px;
}

.containerProyectos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    background-color: #007EA7;
}

.proyecto {
    width: 45%;
    min-width: 300px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #f9f9f9;
}

.proyecto:hover {
    transform: translateY(-5px);
}

.proyecto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.proyecto h2 {
    color: #ff7433;
}

.proyecto h3 {
    color: #333;
}

.descripcion {
    margin-bottom: 15px;
}

.leer-mas {
    background-color: #334fff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.leer-mas:hover {
    background-color: #1c8aaa;
}

.detalles {
    display: none;
    margin-top: 15px;
    padding: 15px;
    background-color: #e6f7fc;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .proyecto {
        width: 100%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*Acciones*/

.Segmento5 {
    margin-top: 15px;
    text-align: center;
}

.containerAcciones {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.accion {
    width: 45%;
    min-width: 300px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.accion h2 {
    color: #26bde2;
    text-align: center;
    margin-bottom: 20px;
}

.lista-acciones {
    list-style-type: none;
    padding: 0;
}

.lista-acciones li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.lista-acciones li:hover {
    transform: translateX(10px);
}

.lista-acciones img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.lista-acciones span {
    flex: 1;
}

@media (max-width: 768px) {
    .accion {
        width: 100%;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Relación*/

.Segmento6 {
    text-align: center;
}

.containerRelaciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ods-central {
    text-align: center;
    margin-bottom: 30px;
}

.ods-central img {
    width: 100px;
    height: 100px;
    border-radius: 25%;
}

.ods-relacionados {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.ods-item {
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.ods-item:hover {
    transform: scale(1.1);
    
}

.ods-item img {
    width: 80px;
    height: 80px;
    border-radius: 25%;
}

.ods-item p {
    margin-top: 5px;
    font-size: 12px;
}

.info-relacion {
    text-align: center;
    max-width: 600px;
}

@media (max-width: 768px) {
    .ods-relacionados {
        gap: 10px;
    }

    .ods-item img {
        width: 60px;
        height: 60px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* Estilo para el efecto de carga de la pagina*/
